.galley-container{
    margin-top: 8%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    
    .left-gallery{
        justify-self: start;

        .photo{
            cursor: zoom-in;

            img{
                width: 100%;
                margin-bottom: 60px;
            }
        }
    }

    .right-gallery{
        justify-self: end;

        .photo{
            cursor: zoom-in;
            
            img{
                width: 850px !important;
                height: 1200px;
                object-fit: cover;
                margin-bottom: 60px;
    
            }
        }

    }
}