.header{
    width: 100%;
    padding-bottom: 40px;
    

    
    .header-content{
        background: $backgroundColor;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px 60px 0;
        height: 88px;
        z-index: 10;

        @media (max-width: 575px) {
            padding: 15px 30px;
          }
          @media (min-width: 576px) and (max-width: 767px) {
            padding: 15px 30px;
          }
          @media (min-width: 768px) and (max-width: 991px) {
    
            padding: 15px 30px;
          }
          @media (min-width: 992px) and (max-width: 1199px) {
    
            padding: 15px 30px;
          }
        

        

        .logo{
            float: left;
            
            h1{
                color: $textColor1;
                font-size: 1.5rem;
                letter-spacing: 1.8px;
                font-weight: 300;
                padding-top: 10px !important;
            }

            a{
                text-decoration: none;
            }
        }
        .menu-container{
            
            .menu{
                    float: right;
                    display: block;
                .fab{
                    padding-right: 10px;
                }
                a{
                    text-decoration: none;
                    color: $textColor2; 
                    font-size: .9rem; 
                    letter-spacing: 2px;
                    padding: 0 10px;
                    font-weight: 300;
                    padding-bottom: 4px;
    
    
                }
    
                .btn-style{
                    border: none;
                    text-decoration: none;
                    color: $white;
                    font-size: .8rem;
                    padding: 0;
                }
                button{
                    background: $buttonColor;
                    border: none;
                    text-decoration: none;
                    color: $white;
                    font-size: .8rem;
                    padding: 16px 20px;
                    cursor: pointer;
                    outline: none;
    
                    &:hover{
                        opacity: .7;
                    }
                    &:active {
                        box-shadow: 0 1px gray;
                        transform: translate(.2px,.2px);
                     }
                }
                .dropdown {
                    position: relative;
                    display: inline-block;
                    
                  }
                  
                .dropdown-content {
                display: none;
                position: absolute;
                background-color: $backgroundColor;
                min-width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                margin-top: 2px;
                
                
                }
                
                .dropdown-content a {
                padding: 16px 8px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                margin: 20px 0;
                }
                
                .dropdown-content a:hover {
                    color: black;
                }
                
                .dropdown:hover .dropdown-content {
                    display: block;
                }
    
                
            }
            
            .menu-mobile{
                display: none;
                .header-burger-btn{
                    
                    float: right;
        
                    .fas{
                        font-size: 2rem;
                        color: black;
                        margin-top: 5px;
                    }
                }
            }
        }

        

    }

    

    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575px) { 
        .logo{
            float: left;
            
            h1{
                color: $textColor1;
                font-size: 1.5rem;
                letter-spacing: 1.8px;
                font-weight: 300;
                padding-top: 10px !important;
            }
        }

        .menu-container{

            .menu{
                display: none !important;
            }
            
            .menu-mobile{
                display: block !important;
            }
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767px) { 
        .logo{
            float: left;
            
            h1{
                color: $textColor1;
                font-size: 1.5rem;
                letter-spacing: 1.8px;
                font-weight: 300;
                padding-top: 10px !important;
            }
        }

        .menu-container{

            .menu{
                display: none !important;
            }
            
            .menu-mobile{
                display: block !important;
            }
        }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991px) {

        .logo{
            float: left;
            
            h1{
                color: $textColor1;
                font-size: 1.5rem;
                letter-spacing: 1.8px;
                font-weight: 300;
                padding-top: 10px !important;
            }
        }

        .menu-container{

            .menu{
                display: none !important;
            }
            
            .menu-mobile{
                display: block !important;
            }
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199px) {
        
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        
    }

}

#pop-menu{

        
    background: $backgroundColor;
    position: fixed;
    transform: translate3d(0, 100%, 0);
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all .5s ease-in-out;

    .menu-icon{
        position: fixed;
        top: 15px;
        right: 15px;
        padding: 15px 15px;
        .fas{
        
        font-size: 2rem;
    
        &:hover{
            color: $textColor2;
        }
    
        }
    }

    

    nav{
        display: flex;
        flex-direction: column;
        

        a{
            font-size: 3rem;
            text-align: center;
            text-decoration: none;
            margin: 1.5rem 0;
            color: $textColor1;
            transition: all 0.5s ease-in;

            &:hover{
                color: $textColor2;
                border-bottom: 1px solid $textColor1;;
            }
        }
    }

}

.menu-active{
    #pop-menu{
        width: 100%;
        top: 0;
        bottom: 0;
        transform: translate3d(0,0,0);
    }
}