$textColor1: #383735;
$textColor2: #3f3f3c;
$textColorAlt: #a3a18b;
$white: #ffff;
$backgroundColor: #f6f5ea;
$buttonColor: #918f76;

.current-page{

    border-bottom: 1px solid $textColor1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }