@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "variables";
@import "header";
@import "home";
@import "amenties";
@import "room";
@import "gallery";
@import "visit";
@import "contact";
@import "book";
@import "footer";


body {
  background: $backgroundColor;
  
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "proxima-nova",Helvetica,"Helvetica Neue",Arial,sans-serif; 
  .wrapper{
    width: 100%;
    

    
    .content-container{
      width: 100%;
      padding: 0 60px;
      

      @media (max-width: 575px) {
        padding: 0 30px;
      }
      @media (min-width: 576px) and (max-width: 767px) {
        padding: 0 30px;
      }
      @media (min-width: 768px) and (max-width: 991px) {

        padding: 0 30px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {

        padding: 0 30px;
      }
    }
  }

}


